/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: Helvetica, sans-serif;
}

body, ul, h1, p {
    padding: 0;
    margin: 0;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    padding: 0 30px;
}

.section {
    padding: 30px 0;
}

/* NAVIGATION */
.navigation {
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    width: 100vw;
    padding: 10px 30px;
}

.navigation ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    margin: 5px 0;
}

.navigation a {
    color: #1A1A1A;
    padding: 8px 10px;
}

/* LOGO */
#logo {
    height: 80px;
}

#logo img {
    width: 180px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

#hero {
    color: white;
    height: 100vh;
    background: url("../images/landing.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HERO */
#hero {
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#hero p {
    color: rgba(225, 225, 225, .6);
    text-align: center;
    line-height: 1.5;
}


/* WHAT'S ON */
#watson h2{
    border-bottom: 3px solid #00B172;
    font-size: 2rem;
    max-width: 300px;
    margin: 10px auto 40px auto;
    text-align: center;
    padding-bottom: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 40px;
}

.card h3 {
    color: #00B172;
}

.card-icon {
    max-width: 100px;
}
