/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: Helvetica, sans-serif;
}

body, ul, h1, p {
    padding: 0;
    margin: 0;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* NAVIGATION */
.navigation {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    width: 100vw;
    padding: 10px 30px;
}

.navigation ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
}

.navigation a {
    color: #1A1A1A;
    padding: 8px 10px;
}

/* LOGO */
#logo {
    max-width: 160px;
}

#logo img {
    width: 100%;
}

#hero {
    color: white;
    height: 100vh;
    background: url("../images/landing.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#hero p {
    color: rgba(225, 225, 225, .6);
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #886c6c;
}
